@import "../inu_nix/themes/current/waybar.css";

* {
	font-size: 18px;
	font-weight: bold;
	font-family: 'ComicShannsMono Nerd Font';
	padding: 0rem 1rem 0rem 1rem;
	border-radius: 1rem 1rem 1rem 1rem;
	background-color: transparent;
	/* background: transparent; */
	/* background: #24273a; */
	/* background: rgba(36, 39, 58, 0.5); */

}

#tooltip * {
	color: @main_center;
	background: rgba(36, 39, 58, 0.9);
}

#waybar {
	color: #24273a;
}

#workspaces {
    border: 2px solid @workspaces; /* Combine width, style, and color */
    color: @workspaces;
	padding: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.9);
}
#workspaces button {
    padding: 0;
    color: @workspaces;
    margin: 0;
	margin-left: 0;
	margin-right: 0;
    min-width: 0;
    border: none;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#network,
#mode,
#idle_inhibitor,
#window,
#tooltip,
#workspaces
#custom-notifs
#custom-mic
#custom-kdec

#cpu {
    border: 2px solid @cpu; /* Combine width, style, and color */
    color: @cpu;
	background: rgba(36, 39, 58, 0.9);
	border-right: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
	background: rgba(36, 39, 58, 0.9);
}

#memory {
    border: 2px solid @cpu; /* Combine width, style, and color */
    color: @cpu;
	background: rgba(36, 39, 58, 0.9);
	border-left: none;
	padding: 0rem 1rem 0rem 1rem;
	border-radius: 0rem 1rem 1rem 0rem;
	background: rgba(36, 39, 58, 0.9);
}

#pulseaudio {
    border: 2px solid @main_center; /* Combine width, style, and color */
    color: @main_center;
	border-right: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
	background: rgba(36, 39, 58, 0.9);
}

#clock {
    border: 2px solid @main_center; /* Combine width, style, and color */
    color: @main_center;
	border-right: none;
	border-left: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.9);
}

#custom-notifs {
    border: 2px solid @main_center; /* Combine width, style, and color */
    color: @main_center;
	border-right: none;
	border-left: none;
	padding: 0rem 0rem 0rem 0rem;
	border-radius: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.9);
}

#custom-kdec {
    border: 2px solid @network; /* Combine width, style, and color */
    color: @network;
	border-right: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
	background: rgba(36, 39, 58, 0.9);
}

#custom-mic {
    border: 2px solid @main_center; /* Combine width, style, and color */
    color: @main_center;
	border-left: none;
	padding: 0rem 1rem 0rem 0rem;
	border-radius: 0rem 1rem 1rem 0rem;
	background: rgba(36, 39, 58, 0.9);
}

#battery {
    border: 2px solid @battery; /* Combine width, style, and color */
    color: @battery;
	padding: 0rem 1rem 0rem 1rem;
	border-radius: 1rem 1rem 1rem 1rem;
	background: rgba(36, 39, 58, 0.9);
}
#bluetooth { 
    border: 2px solid @network; /* Combine width, style, and color */
    color: @network;
	border-right: none;
	border-left: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.9);
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: rgba(36, 39, 58, 0.9);
}


#battery.charging {
	color: @network;
	background: rgba(36, 39, 58, 0.9);
}

#battery.warning:not(.charging) {
	color: @workspaces;
	background: rgba(36, 39, 58, 0.9);
}

#network {
    border: 2px solid @network; /* Combine width, style, and color */
    color: @network;
	border-left: none;
	padding: 0rem 1rem 0rem 0rem;
	border-radius: 0rem 1rem 1rem 0rem;
	background: rgba(36, 39, 58, 0.9);
}
