* {
	font-size: 18px;
	font-weight: bold;
	font-family: 'ComicShannsMono Nerd Font';
	padding: 0rem 1rem 0rem 1rem;
	border-radius: 1rem 1rem 1rem 1rem;
	background-color: transparent;
	/* background: transparent; */
	/* background: #24273a; */
	/* background: rgba(36, 39, 58, 0.5); */

}

#tooltip {
	color: #eb87b6;
	background: rgba(36, 39, 58, 0.6);
}
#tooltip * {
	color: #eb87b6;
	background: rgba(36, 39, 58, 0.6);
}

#waybar {
	color: #24273a;
}

#workspaces {
    border: 2px solid #FC50B4; /* Combine width, style, and color */
    color: #FC50B4;
	padding: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.6);
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#network,
#mode,
#idle_inhibitor,
#window,
#tooltip,
#workspaces
#custom-notifs
#custom-mic
#custom-kdec

#cpu {
    border: 2px solid #D179EE; /* Combine width, style, and color */
    color: #D179EE;
	background: rgba(36, 39, 58, 0.6);
	border-right: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
	background: rgba(36, 39, 58, 0.6);
}

#memory {
    border: 2px solid #D179EE; /* Combine width, style, and color */
    color: #D179EE;
	background: rgba(36, 39, 58, 0.6);
	border-left: none;
	padding: 0rem 1rem 0rem 1rem;
	border-radius: 0rem 1rem 1rem 0rem;
	background: rgba(36, 39, 58, 0.6);
}

#pulseaudio {
    border: 2px solid #eb87b6; /* Combine width, style, and color */
    color: #eb87b6;
	border-right: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
	background: rgba(36, 39, 58, 0.6);
}

#clock {
    border: 2px solid #eb87b6; /* Combine width, style, and color */
    color: #eb87b6;
	border-right: none;
	border-left: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.6);
}

#custom-notifs {
    border: 2px solid #eb87b6; /* Combine width, style, and color */
    color: #eb87b6;
	border-right: none;
	border-left: none;
	padding: 0rem 0rem 0rem 0rem;
	border-radius: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.6);
}

#custom-kdec {
    border: 2px solid #4FC8B7; /* Combine width, style, and color */
    color: #4FC8B7;
	border-right: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
	background: rgba(36, 39, 58, 0.6);
}

#custom-mic {
    border: 2px solid #eb87b6; /* Combine width, style, and color */
    color: #eb87b6;
	border-left: none;
	padding: 0rem 1rem 0rem 0rem;
	border-radius: 0rem 1rem 1rem 0rem;
	background: rgba(36, 39, 58, 0.6);
}

#battery {
    border: 2px solid #7ac3ff; /* Combine width, style, and color */
    color: #7ac3ff;
	padding: 0rem 1rem 0rem 1rem;
	border-radius: 1rem 1rem 1rem 1rem;
	background: rgba(36, 39, 58, 0.6);
}
#bluetooth { 
    border: 2px solid #4FC8B7; /* Combine width, style, and color */
    color: #4FC8B7;
	border-right: none;
	border-left: none;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 0rem 0rem 0rem 0rem;
	background: rgba(36, 39, 58, 0.6);
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: rgba(36, 39, 58, 0.6);
}


#battery.charging {
	color: #4FC8B7;
	background: rgba(36, 39, 58, 0.6);
}

#battery.warning:not(.charging) {
	color: #FC50B4;
	background: rgba(36, 39, 58, 0.6);
}

#network {
    border: 2px solid #4FC8B7; /* Combine width, style, and color */
    color: #4FC8B7;
	border-left: none;
	padding: 0rem 1rem 0rem 0rem;
	border-radius: 0rem 1rem 1rem 0rem;
	background: rgba(36, 39, 58, 0.6);
}
