* {
	font-size: 18px;
	font-weight: bold;
	font-family: 'ComicShannsMono Nerd Font';
	padding: 0rem 1rem 0rem 1rem;
	border-radius: 1rem 1rem 1rem 1rem;
}

#waybar {
	background-color: #24273a;
	background: transparent;
	color: #24273a;
}

#workspaces {
	padding: 0rem 0rem 0rem 0rem;
	background: #FC50B4;
}


#workspaces button:hover {
	background: #FC50B4;

}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#network,
#mode,
#idle_inhibitor,
#window,

#cpu {
	background-color: #7ac3ff;
}

#memory {
	background-color: #D179EE;
}

#pulseaudio {
	background: #eb87b6;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
}

#clock {
	background: #eb87b6;
	padding: 0rem 1rem 0rem 0rem;
	border-radius: 0rem 1rem 1rem 0rem;
}

#battery {
	background-color: #4FC8B7;
	padding: 0rem 0rem 0rem 1rem;
	border-radius: 1rem 0rem 0rem 1rem;
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


#battery.charging {
	background-color: #4FC8B7;
}

#battery.warning:not(.charging) {
	background-color: #FC50B4;
}

#network {
	background-color: #4FC8B7;
	padding: 0rem 1rem 0rem 0rem;
	border-radius: 0rem 1rem 1rem 0rem;
}

#tray {
	margin-right: 1rem;
	border-radius: 1rem;
}
