otp_path: "/nix/store/1izn2vxmlil4cm9fkd63x9sxxv0c96n6-erlang-27.0/lib/erlang"
deps_dirs:
  - "_build/*/lib/*"
  - "_build/*/lib/*/include"
  - "_build/*/lib/*/include/*"
  - "lib/*"
diagnostics:
  enabled:
    - crossref
  disabled:
    - bound_var_in_pattern
apps_dirs:
  - "apps/*"
  - "_build/*/lib/*"
  - "_build/*/lib/*/include"
  - "_build/*/lib/*/include/*"
  - "lib/*"
  - "."
include_dirs:
  - "apps"
  - "apps/*/include"
  - "include"
  - "include/*"
  - "."
  - ".."
  - "src"
  - "_build/*/lib"
  - "_build/*/lib/*/include"
  - "_build/*/lib/*/include/*"
  - "extras"
  - "test"
  - "test/*_data"
lenses:
  enabled:
    - suggest-spec
    - function-references
    - ct-run-test
providers:
  enabled:
    - signature-help

