otp_path: "/nix/store/cy2dmq8vki2hzqag991db96i0jdwhlls-erlang-27.0.1/lib/erlang"
deps_dirs:
  - "_build/*/lib/*"
  - "_build/*/lib/*/include"
  - "_build/*/lib/*/include/*"
  - "lib/*"
diagnostics:
  enabled:
    - crossref
  disabled:
    - bound_var_in_pattern
apps_dirs:
  - "apps/*"
  - "_build/*/lib/*"
  - "_build/*/lib/*/include"
  - "_build/*/lib/*/include/*"
  - "lib/*"
  - "."
include_dirs:
  - "apps"
  - "apps/*/include"
  - "include"
  - "include/*"
  - "."
  - ".."
  - "src"
  - "_build/*/lib"
  - "_build/*/lib/*/include"
  - "_build/*/lib/*/include/*"
  - "extras"
  - "test"
  - "test/*_data"
lenses:
  enabled:
    - suggest-spec
    - function-references
    - ct-run-test
providers:
  enabled:
    - signature-help

